name: smartpresence
description: "SmartPresence - Pointage intelligent par empreinte digitale"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  firebase_core: ^3.6.0
  firebase_auth: ^5.3.1
  firebase_database: ^11.1.4
  http: ^1.1.0
  intl: ^0.19.0
  url_launcher: ^6.2.1
  pdf: ^3.10.4
  printing: ^5.12.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
flutter:
  uses-material-design: true
